<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
	<targets>
		<!-- Write logs to a file -->
		<target xsi:type="File" name="logfile" fileName="${basedir}/../Logs/log-${shortdate}.txt"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString}" />
	</targets>
	<rules>
		<!-- Log everything from Info level and above -->
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>
